main {
  text-align: center;
  background-image: url(/public/1612192135_24-p-zadnii-fon-oblaka-dlya-fotoshopa-30.jpg);
  background-size: cover;
  height: 100vh;
  padding: 0 50px;
  box-sizing: border-box;
}